#? stdtmpl | standard
#
#template `%`(idx: untyped): untyped =
#  row[idx]
#end template
#
#
#proc genUserResetPassword(c: var TData): string =
# result = ""
# if not c.loggedIn:
#
<form id="resetPassword" action="/doresetpassword" method="POST" style="width: auto; max-width: 300px; padding: 10px; margin-right: auto; margin-left: auto;">
  <h1 style="text-align: center; font-size: 3.2rem; margin-bottom: 2rem;">Reset password</h1>
#
${genericMessage(c)}
#
  <label for="email" class="loginLabel">Email:</label>
  <input type="email" class="form-control" name="email"/>
  <br />
#
# if useCaptcha:
#
  <div>
    <div class="g-recaptcha" data-sitekey="6LfPUDYUAAAAAAyFxBXIkhbUKNow2Jxd8PUqtj6Z" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </div>
#
# end if
#
  <input href="#" type="submit" class="btn btn-sm btn-success" value="Reset password" style="width: 100%;" />
</form>
#
#  else:
#
<span style="color:red">You're already logged in!</span>
#
#  end if
#end proc
#
#
#proc genUserResetPasswordNew(c: var TData, name, epoch, ident: string): string =
# result = ""
# if not c.loggedIn:
#
<form id="resetPasswordNew" action="/doemailresetpassword" method="POST" style="margin-right: auto; margin-left: auto;">
  <h1>Set new password</h1>
  ${genericMessage(c)}
  <input type="text" class="form-control" name="name" value="$name" style="display: none"/>
  <input type="text" class="form-control" name="epoch" value="$epoch" style="display: none"/>
  <input type="text" class="form-control" name="ident" value="$ident" style="display: none"/>
  <label for="password" class="loginLabel">New password (min ${$minPassLength} characters):</label>
  <input type="password" class="form-control" name="password" id="userPassword"/>
  <br />
  #if useCaptcha:
  <div>
    <div class="g-recaptcha" data-sitekey="6LfPUDYUAAAAAAyFxBXIkhbUKNow2Jxd8PUqtj6Z" data-theme="light" style="transform:scale(0.93);-webkit-transform:scale(0.93);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </div>
  #end if
  <button type="submit" class="btn btn-sm btn-primary" style="width: 100%;">Set new password</button>
</form>
#
#  else:
#
<div style="color:#fc6969;text-align: center;font-size: 2.5rem; line-height: 3rem;"><b>You're already logged in!</b></div>
#
#  end if
#end proc